@page "/weather"
@attribute [StreamRendering]
@attribute [Authorize(Roles = "Admin")]

@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider


<PageTitle>Admin</PageTitle>

<h1>You are in Admin role</h1>



@code {
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        bool isAdmin = user.IsInRole("admin");

       
    }

    
}
